<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="images/penta.png"/>
    <link rel="stylesheet" type="text/css" href="css/autor.css?v=2.0"/>
</head>
<body class="img">
    <%- include ('partials/navigation.html')%>
    <!--Sección Autor-->
    
<div id="autor">
    <br/>
    <br/>
    <div class="fondo container text-center col-3">
        <p style="color: white">No sé que decir... Si quieren conocer más de mí, abajo hay links para más de mis trabajos, he escrito ciencia ficción y también fantasía, aunque no descarto ningún otro tipo de temática, alguna idea se me puede ocurrir mientras sigo viviendo. ;) </p>
    </div>
    <br/>
    <div class="text-center">
		
		<div class="container text-center link col-3">
			<a class="btn btn-danger list-group-item text-light pags" href="https://clubdeescritura.com/perfil/51470/wyneg-s-rhuntar/">Club de Escritura Fuentetaja</a>	
		</div>
		<div class="container text-center links col-3">
			<a class="btn btn-warning list-group-item text-light pags" href="https://www.wattpad.com/story/101823325-blaze">Wattpad</a>	
		</div>
		<div class="container text-center links col-3">
			<a class="btn btn-info list-group-item text-light pags" href="http://megustaescribir.com/obra/37370/blaze">MeGustaEscribir</a>	
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="js/navbar.js?v=2.0"></script>
<script src="js/hechizos.js?v=2.0"></script>
</body>
</html>