<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="images/penta.png"/>
    <link rel="stylesheet" type="text/css" href="css/caps.css?v=2.0"/>
</head>
<body class="img" id="kurobodi" onload="lucesycaps()">
    <nav class="navbar navbar-dark sticky-top" id="barra">
        <div class="container-fluid" id="divetiq">
          <ul class="nav nav-fill" id="uletiq">
            <li class="nav-item" id="nav1"><a class="nav-link text-light dirweb" id="inicio1" href="/"><img src="images/favicon11.gif" alt="llama" id="fuego1" style="display: inline-block" /><img src="images/webp/inicio.webp" id="imgIni" alt="inicio" title="Index" /></a></li>
            <li class="nav-item" id="nav2"><a class="nav-link text-light dirweb" id="capitulos1" href="/capitulos"><img src="images/espacio.png" alt="llama" id="fuego2" style="display: inline-block"/><img src="images/webp/caps.webp" id="imgCap" alt="caps" title="Chapters" /></a></li>
            <li class="nav-item" id="nav3"><a class="nav-link text-light dirweb" id="galeria1" href="/galeria"><img src="images/espacio.png" alt="llama" id="fuego3"  style="display: inline-block"/><img src="images/webp/galeria.webp" id="imgGal" alt="gallery" title="Gallery" /></a></li>
            <li class="nav-item" id="nav4"><a class="nav-link text-light dirweb" id="autor1" href="/autor"><img src="images/espacio.png" alt="llama" id="fuego4" style="display: inline-block"/><img src="images/webp/sobreautor.webp" id="imgAut" alt="autor" title="Autor" /></a></li>
          </ul>
        </div>	
      </nav>
    <!--Sección Capítulos-->
    
<div class="torch" id="capitulos">

    <div class="container">
    <div class="row">
        <div id="antorchasgif">
            <img id="izqOff" src="images/Torch-izqOff.gif" alt="torch" />
            <img id="derOff" src="images/Torch-derOff.gif" alt="torch" />
        </div>
        
    <div class="container col-lg-4 col-sm-8 list-group text-center cajita caca" id="negrito1"> 
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <p class="text-warning">Temporada 1</p>
                        <button class="list-group-item list-group-item-action list-group-item-dark text-danger" data-toggle="collapse" href="#collapse1">Cap&iacute;tulos 1 al 20</button>
                    </h4>
                </div>
                
            </div>
        </div>
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <button class="list-group-item list-group-item-action list-group-item-dark text-danger" data-toggle="collapse" href="#collapse2">Cap&iacute;tulos 21 al 40</button>
                    </h4>
                </div>
                
            </div>
        </div>
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <button class="list-group-item list-group-item-action list-group-item-dark text-danger" data-toggle="collapse" href="#collapse3">Cap&iacute;tulos 41 al 60</button>
                    </h4>
                </div>
                
            </div>
        </div>
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <p class="text-warning">Temporada 2</p>
                        <button class="list-group-item list-group-item-action list-group-item-dark text-danger" data-toggle="collapse" href="#collapse4">Cap&iacute;tulos 61 al 80</button>
                    </h4>
                </div>
                
            </div>
        </div>
    
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <button class="list-group-item list-group-item-action list-group-item-dark text-danger" data-toggle="collapse" href="#collapse5">Cap&iacute;tulos 81 al 100</button>
                    </h4>
                </div>
                
            </div>
        </div>
        
             <div class="panel-collapse collapse" id="collapse1">
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal1" onClick="fetchgo(1); pergamino(1);">Cap&iacute;tulo 1<img id="perg1" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal2" onClick="fetchgo(2); pergamino(2);">Cap&iacute;tulo 2<img id="perg2" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal3" onClick="fetchgo(3); pergamino(3);">Cap&iacute;tulo 3<img id="perg3" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal4" onClick="fetchgo(4); pergamino(4);">Cap&iacute;tulo 4<img id="perg4" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal5" onClick="fetchgo(5); pergamino(5);">Cap&iacute;tulo 5<img id="perg5" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal6" onClick="fetchgo(6); pergamino(6);">Cap&iacute;tulo 6<img id="perg6" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal7" onClick="fetchgo(7); pergamino(7);">Cap&iacute;tulo 7<img id="perg7" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal8" onClick="fetchgo(8); pergamino(8);">Cap&iacute;tulo 8<img id="perg8" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal9" onClick="fetchgo(9); pergamino(9);">Cap&iacute;tulo 9<img id="perg9" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal10" onClick="fetchgo(10); pergamino(10);">Cap&iacute;tulo 10<img id="perg10" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal11" onClick="fetchgo(11); pergamino(11);">Cap&iacute;tulo 11 - Especial Halloween<img id="perg11" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal12" onClick="fetchgo(12); pergamino(12);">Cap&iacute;tulo 12<img id="perg12" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal13" onClick="fetchgo(13); pergamino(13);">Cap&iacute;tulo 13<img id="perg13" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal14" onClick="fetchgo(14); pergamino(14);">Cap&iacute;tulo 14<img id="perg14" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal15" onClick="fetchgo(15); pergamino(15);">Cap&iacute;tulo 15<img id="perg15" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal16" onClick="fetchgo(16); pergamino(16);">Cap&iacute;tulo 16<img id="perg16" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal17" onClick="fetchgo(17); pergamino(17);">Cap&iacute;tulo 17<img id="perg17" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal18" onClick="fetchgo(18); pergamino(18);">Cap&iacute;tulo 18<img id="perg18" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal19" onClick="fetchgo(19); pergamino(19);">Cap&iacute;tulo 19<img id="perg19" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal20" onClick="fetchgo(20); pergamino(20);">Cap&iacute;tulo 20<img id="perg20" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
            </div>
            
            <div class="panel-collapse collapse" id="collapse2">
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal21" onClick="fetchgo(21); pergamino(21);">Cap&iacute;tulo 21<img id="perg21" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal22" onClick="fetchgo(22); pergamino(22);">Cap&iacute;tulo 22<img id="perg22" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal23" onClick="fetchgo(23); pergamino(23);">Cap&iacute;tulo 23<img id="perg23" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal24" onClick="fetchgo(24); pergamino(24);">Cap&iacute;tulo 24<img id="perg24" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal25" onClick="fetchgo(25); pergamino(25);">Cap&iacute;tulo 25<img id="perg25" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal26" onClick="fetchgo(26); pergamino(26);">Cap&iacute;tulo 26<img id="perg26" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal27" onClick="fetchgo(27); pergamino(27);">Cap&iacute;tulo 27<img id="perg27" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal28" onClick="fetchgo(28); pergamino(28);">Cap&iacute;tulo 28<img id="perg28" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal29" onClick="fetchgo(29); pergamino(29);">Cap&iacute;tulo 29<img id="perg29" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal30" onClick="fetchgo(30); pergamino(30);">Cap&iacute;tulo 30<img id="perg30" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal31" onClick="fetchgo(31); pergamino(31);">Cap&iacute;tulo 31<img id="perg31" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal32" onClick="fetchgo(32); pergamino(32);">Cap&iacute;tulo 32<img id="perg32" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal33" onClick="fetchgo(33); pergamino(33);">Cap&iacute;tulo 33<img id="perg33" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal34" onClick="fetchgo(34); pergamino(34);">Cap&iacute;tulo 34<img id="perg34" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal35" onClick="fetchgo(35); pergamino(35);">Cap&iacute;tulo 35<img id="perg35" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal36" onClick="fetchgo(36); pergamino(36);">Cap&iacute;tulo 36<img id="perg36" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal37" onClick="fetchgo(37); pergamino(37);">Cap&iacute;tulo 37<img id="perg37" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal38" onClick="fetchgo(38); pergamino(38);">Cap&iacute;tulo 38<img id="perg38" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal39" onClick="fetchgo(39); pergamino(39);">Cap&iacute;tulo 39<img id="perg39" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal40" onClick="fetchgo(40); pergamino(40);">Cap&iacute;tulo 40<img id="perg40" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
            </div>
        
            <div class="panel-collapse collapse" id="collapse3">
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal41" onClick="fetchgo(41); pergamino(41);">Cap&iacute;tulo 41<img id="perg41" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal42" onClick="fetchgo(42); pergamino(42);">Cap&iacute;tulo 42<img id="perg42" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal43" onClick="fetchgo(43); pergamino(43);">Cap&iacute;tulo 43<img id="perg43" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal44" onClick="fetchgo(44); pergamino(44);">Cap&iacute;tulo 44<img id="perg44" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal45" onClick="fetchgo(45); pergamino(45);">Cap&iacute;tulo 45<img id="perg45" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal46" onClick="fetchgo(46); pergamino(46);">Cap&iacute;tulo 46<img id="perg46" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal47" onClick="fetchgo(47); pergamino(47);">Cap&iacute;tulo 47<img id="perg47" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal48" onClick="fetchgo(48); pergamino(48);">Cap&iacute;tulo 48<img id="perg48" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal49" onClick="fetchgo(49); pergamino(49);">Cap&iacute;tulo 49<img id="perg49" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal50" onClick="fetchgo(50); pergamino(50);">Cap&iacute;tulo 50<img id="perg50" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal51" onClick="fetchgo(51); pergamino(51);">Cap&iacute;tulo 51<img id="perg51" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal52" onClick="fetchgo(52); pergamino(52);">Cap&iacute;tulo 52<img id="perg52" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal53" onClick="fetchgo(53); pergamino(53);">Cap&iacute;tulo 53<img id="perg53" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal54" onClick="fetchgo(54); pergamino(54);">Cap&iacute;tulo 54<img id="perg54" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal55" onClick="fetchgo(55); pergamino(55);">Cap&iacute;tulo 55<img id="perg55" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal56" onClick="fetchgo(56); pergamino(56);">Cap&iacute;tulo 56<img id="perg56" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal57" onClick="fetchgo(57); pergamino(57);">Cap&iacute;tulo 57<img id="perg57" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal58" onClick="fetchgo(58); pergamino(58);">Cap&iacute;tulo 58<img id="perg58" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal59" onClick="fetchgo(59); pergamino(59);">Cap&iacute;tulo 59<img id="perg59" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal60" onClick="fetchgo(60); pergamino(60);">Cap&iacute;tulo 60<img id="perg60" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
            </div>
        
            <div class="panel-collapse collapse" id="collapse4">
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal61" onClick="fetchgo(61); pergamino(61);">Cap&iacute;tulo 61<img id="perg61" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal62" onClick="fetchgo(62); pergamino(62);">Cap&iacute;tulo 62<img id="perg62" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal63" onClick="fetchgo(63); pergamino(63);">Cap&iacute;tulo 63<img id="perg63" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal64" onClick="fetchgo(64); pergamino(64);">Cap&iacute;tulo 64<img id="perg64" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal65" onClick="fetchgo(65); pergamino(65);">Cap&iacute;tulo 65<img id="perg65" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal66" onClick="fetchgo(66); pergamino(66);">Cap&iacute;tulo 66<img id="perg66" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal67" onClick="fetchgo(67); pergamino(67);">Cap&iacute;tulo 67<img id="perg67" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal68" onClick="fetchgo(68); pergamino(68);">Cap&iacute;tulo 68<img id="perg68" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal69" onClick="fetchgo(69); pergamino(69);">Cap&iacute;tulo 69<img id="perg69" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal70" onClick="fetchgo(70); pergamino(70);">Cap&iacute;tulo 70<img id="perg70" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal71" onClick="fetchgo(71); pergamino(71);">Cap&iacute;tulo 71<img id="perg71" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal72" onClick="fetchgo(72); pergamino(72);">Cap&iacute;tulo 72<img id="perg72" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal73" onClick="fetchgo(73); pergamino(73);">Cap&iacute;tulo 73<img id="perg73" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal74" onClick="fetchgo(74); pergamino(74);">Cap&iacute;tulo 74<img id="perg74" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal75" onClick="fetchgo(75); pergamino(75);">Cap&iacute;tulo 75<img id="perg75" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal76" onClick="fetchgo(76); pergamino(76);">Cap&iacute;tulo 76<img id="perg76" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal77" onClick="fetchgo(77); pergamino(77);">Cap&iacute;tulo 77<img id="perg77" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal78" onClick="fetchgo(78); pergamino(78);">Cap&iacute;tulo 78<img id="perg78" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal79" onClick="fetchgo(79); pergamino(79);">Cap&iacute;tulo 79<img id="perg79" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal80" onClick="fetchgo(80); pergamino(80);">Cap&iacute;tulo 80<img id="perg80" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
            </div>
    
            <div class="panel-collapse collapse" id="collapse5">
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal81" onClick="fetchgo(81); pergamino(81);">Cap&iacute;tulo 81<img id="perg81" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal82" onClick="fetchgo(82); pergamino(82);">Cap&iacute;tulo 82<img id="perg82" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal83" onClick="fetchgo(83); pergamino(83);">Cap&iacute;tulo 83<img id="perg83" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal84" onClick="fetchgo(84); pergamino(84);">Cap&iacute;tulo 84<img id="perg84" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal85" onClick="fetchgo(85); pergamino(85);">Cap&iacute;tulo 85<img id="perg85" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal86" onClick="fetchgo(86); pergamino(86);">Cap&iacute;tulo 86<img id="perg86" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal87" onClick="fetchgo(87); pergamino(87);">Cap&iacute;tulo 87<img id="perg87" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal88" onClick="fetchgo(88); pergamino(88);">Cap&iacute;tulo 88<img id="perg88" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal89" onClick="fetchgo(89); pergamino(89);">Cap&iacute;tulo 89<img id="perg89" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal90" onClick="fetchgo(90); pergamino(90);">Cap&iacute;tulo 90<img id="perg90" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal91" onClick="fetchgo(91); pergamino(91);">Cap&iacute;tulo 91<img id="perg91" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal92" onClick="fetchgo(92); pergamino(92);">Cap&iacute;tulo 92<img id="perg92" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal93" onClick="fetchgo(93); pergamino(93);">Cap&iacute;tulo 93<img id="perg93" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal94" onClick="fetchgo(94); pergamino(94);">Cap&iacute;tulo 94<img id="perg94" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal95" onClick="fetchgo(95); pergamino(95);">Cap&iacute;tulo 95<img id="perg95" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal96" onClick="fetchgo(96); pergamino(96);">Cap&iacute;tulo 96<img id="perg96" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal97" onClick="fetchgo(97); pergamino(97);">Cap&iacute;tulo 97<img id="perg97" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal98" onClick="fetchgo(98); pergamino(98);">Cap&iacute;tulo 98<img id="perg98" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal99" onClick="fetchgo(99); pergamino(99);">Cap&iacute;tulo 99<img id="perg99" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
                <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal100" onClick="fetchgo(100); pergamino(100);">Cap&iacute;tulo 100<img id="perg100" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
            </div>
    </div>
    
        </div>
                    
        <br/>
    </div>
    
    <div class="modal fade bd-example-modal-lg" id="mod1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document" id="cap1">
        <div class="modal-content" id="contenido">
          <div class="modal-header" id="caeza">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
          </div>
              <div class="modal-body" id="capis">
              </div>
            <div class="modal-footer" id="pata">
              </div>
        </div>
      </div>
    </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/navbar.js?v=2.0"></script>
    <script src="js/hechizos.js?v=2.0"></script>
    <script src="js/caps.js?v=2.0"></script>
    <script>
        function fetchgo(num){

            fetch('/capitulos/' + num, {
                method: 'get'
            })
            .then(response => response.text())
            .then(text => {
                var chapter = text.replace('[{"txtcaps":"', '').replace('"}]', '').replace('\n', '');
                document.getElementById('capis').innerHTML = chapter;
            })
            .catch(error => {
                console.log('error : ' + error);
            });
        }
    </script>
</body>
</html>