<!doctype html>
<html>
<head>    
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="icon" href="images/penta.png"/>
<link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
</head>

<body class="img" data-spy="scroll" data-target=".navbar" data-offset="10">
    
<header>
  <div class="text-center" id="heder" style="display: block">
  	<img src="images/webp/logoblaze3.webp" class="img-fluid" width="25%" height="25%" alt="logo"/>
  </div>
</header>

<%- include ('partials/navigation.html')%>
    
<!--Sección Inicio-->

<div class="container inicio" id="inicio">
	<div>
		<img class="img-thumbnail rounded mx-auto d-block blaze" src="images/webp/redmoon.webp" alt="Blaze!" />
	</div>
		<br/>
		<br/>	
		<br/>
		<div class="index">
		
		<div class="texto">
			<div class="fondo">
			<p>Esta es la historia de Blaze, la más grande guerrera que podrás encontrar...</p>
			<p>Entrenada en artes esotéricas y militares por sus maestros Echleón y Bel, respectivamente, Blaze recorre las tierras medievales en la búsqueda de aventuras y peligros a los que enfrentarse, en parte para pasar el tiempo y también para perfeccionarse.</p>
			<p>No hay mal que se le resista, tampoco bien que le aguante, la verdad es que es mejor no cruzarse en su camino, sobre todo si está enojada.</p>
			<br/>
			<p>Sigue aquí sus peripecias, aprende un poco de sus habilidades y conoce a los demás personajes que le harán la vida imposible.</p>
			</div>
		</div>
		
	</div>
</div>
    
<!--<div class="container col-12" style="height: 1px" ></div>
    
    
Sección Capítulos
    
<div class="torch" style="display: none;" id="capitulos">

<div class="container">
<div class="row">
    <div id="antorchasgif">
        <img id="izqOff" src="images/Torch-izqOff.gif" alt="torch" />
        <img id="derOff" src="images/Torch-derOff.gif" alt="torch" />
    </div>
	
<div class="container col-sm-4 list-group text-center cajita caca" id="negrito1"> 
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
                    <p class="text-warning">Temporada 1</p>
					<button class="list-group-item list-group-item-action list-group-item-dark text-danger" data-toggle="collapse" href="#collapse1">Cap&iacute;tulos 1 al 20</button>
				</h4>
			</div>
			
		</div>
	</div>
	
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<button class="list-group-item list-group-item-action list-group-item-dark text-danger" data-toggle="collapse" href="#collapse2">Cap&iacute;tulos 21 al 40</button>
				</h4>
			</div>
			
		</div>
	</div>
	
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<button class="list-group-item list-group-item-action list-group-item-dark text-danger" data-toggle="collapse" href="#collapse3">Cap&iacute;tulos 41 al 60</button>
				</h4>
			</div>
			
		</div>
	</div>
    
    <div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
                    <p class="text-warning">Temporada 2</p>
					<button class="list-group-item list-group-item-action list-group-item-dark text-danger" data-toggle="collapse" href="#collapse4">Cap&iacute;tulos 61 al 80</button>
				</h4>
			</div>
			
		</div>
	</div>

	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<button class="list-group-item list-group-item-action list-group-item-dark text-danger" data-toggle="collapse" href="#collapse5">Cap&iacute;tulos 81 al 100</button>
				</h4>
			</div>
			
		</div>
	</div>
    
		 <div class="panel-collapse collapse" id="collapse1">"
            <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal1" onClick="showCap(1); pergamino(1);">Cap&iacute;tulo 1<img id="perg1" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
            <a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal2" onClick="showCap(2); pergamino(2);">Cap&iacute;tulo 2<img id="perg2" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal3" onClick="showCap(3); pergamino(3);">Cap&iacute;tulo 3<img id="perg3" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal4" onClick="showCap(4); pergamino(4);">Cap&iacute;tulo 4<img id="perg4" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal5" onClick="showCap(5); pergamino(5);">Cap&iacute;tulo 5<img id="perg5" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal6" onClick="showCap(6); pergamino(6);">Cap&iacute;tulo 6<img id="perg6" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal7" onClick="showCap(7); pergamino(7);">Cap&iacute;tulo 7<img id="perg7" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal8" onClick="showCap(8); pergamino(8);">Cap&iacute;tulo 8<img id="perg8" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal9" onClick="showCap(9); pergamino(9);">Cap&iacute;tulo 9<img id="perg9" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal10" onClick="showCap(10); pergamino(10);">Cap&iacute;tulo 10<img id="perg10" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal11" onClick="showCap(11); pergamino(11);">Cap&iacute;tulo 11 - Especial Halloween<img id="perg11" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal12" onClick="showCap(12); pergamino(12);">Cap&iacute;tulo 12<img id="perg12" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal13" onClick="showCap(13); pergamino(13);">Cap&iacute;tulo 13<img id="perg13" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal14" onClick="showCap(14); pergamino(14);">Cap&iacute;tulo 14<img id="perg14" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal15" onClick="showCap(15); pergamino(15);">Cap&iacute;tulo 15<img id="perg15" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal16" onClick="showCap(16); pergamino(16);">Cap&iacute;tulo 16<img id="perg16" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal17" onClick="showCap(17); pergamino(17);">Cap&iacute;tulo 17<img id="perg17" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal18" onClick="showCap(18); pergamino(18);">Cap&iacute;tulo 18<img id="perg18" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal19" onClick="showCap(19); pergamino(19);">Cap&iacute;tulo 19<img id="perg19" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal20" onClick="showCap(20); pergamino(20);">Cap&iacute;tulo 20<img id="perg20" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
		</div>
		
		<div class="panel-collapse collapse" id="collapse2">
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal21" onClick="showCap(21); pergamino(21);">Cap&iacute;tulo 21<img id="perg21" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal22" onClick="showCap(22); pergamino(22);">Cap&iacute;tulo 22<img id="perg22" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal23" onClick="showCap(23); pergamino(23);">Cap&iacute;tulo 23<img id="perg23" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal24" onClick="showCap(24); pergamino(24);">Cap&iacute;tulo 24<img id="perg24" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal25" onClick="showCap(25); pergamino(25);">Cap&iacute;tulo 25<img id="perg25" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal26" onClick="showCap(26); pergamino(26);">Cap&iacute;tulo 26<img id="perg26" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal27" onClick="showCap(27); pergamino(27);">Cap&iacute;tulo 27<img id="perg27" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal28" onClick="showCap(28); pergamino(28);">Cap&iacute;tulo 28<img id="perg28" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal29" onClick="showCap(29); pergamino(29);">Cap&iacute;tulo 29<img id="perg29" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal30" onClick="showCap(30); pergamino(30);">Cap&iacute;tulo 30<img id="perg30" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal31" onClick="showCap(31); pergamino(31);">Cap&iacute;tulo 31<img id="perg31" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal32" onClick="showCap(32); pergamino(32);">Cap&iacute;tulo 32<img id="perg32" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal33" onClick="showCap(33); pergamino(33);">Cap&iacute;tulo 33<img id="perg33" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal34" onClick="showCap(34); pergamino(34);">Cap&iacute;tulo 34<img id="perg34" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal35" onClick="showCap(35); pergamino(35);">Cap&iacute;tulo 35<img id="perg35" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal36" onClick="showCap(36); pergamino(36);">Cap&iacute;tulo 36<img id="perg36" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal37" onClick="showCap(37); pergamino(37);">Cap&iacute;tulo 37<img id="perg37" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal38" onClick="showCap(38); pergamino(38);">Cap&iacute;tulo 38<img id="perg38" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal39" onClick="showCap(39); pergamino(39);">Cap&iacute;tulo 39<img id="perg39" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal40" onClick="showCap(40); pergamino(40);">Cap&iacute;tulo 40<img id="perg40" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
		</div>
	
		<div class="panel-collapse collapse" id="collapse3">
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal41" onClick="showCap(41); pergamino(41);">Cap&iacute;tulo 41<img id="perg41" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal42" onClick="showCap(42); pergamino(42);">Cap&iacute;tulo 42<img id="perg42" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal43" onClick="showCap(43); pergamino(43);">Cap&iacute;tulo 43<img id="perg43" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal44" onClick="showCap(44); pergamino(44);">Cap&iacute;tulo 44<img id="perg44" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal45" onClick="showCap(45); pergamino(45);">Cap&iacute;tulo 45<img id="perg45" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal46" onClick="showCap(46); pergamino(46);">Cap&iacute;tulo 46<img id="perg46" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal47" onClick="showCap(47); pergamino(47);">Cap&iacute;tulo 47<img id="perg47" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal48" onClick="showCap(48); pergamino(48);">Cap&iacute;tulo 48<img id="perg48" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal49" onClick="showCap(49); pergamino(49);">Cap&iacute;tulo 49<img id="perg49" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal50" onClick="showCap(50); pergamino(50);">Cap&iacute;tulo 50<img id="perg50" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal51" onClick="showCap(51); pergamino(51);">Cap&iacute;tulo 51<img id="perg51" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal52" onClick="showCap(52); pergamino(52);">Cap&iacute;tulo 52<img id="perg52" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal53" onClick="showCap(53); pergamino(53);">Cap&iacute;tulo 53<img id="perg53" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal54" onClick="showCap(54); pergamino(54);">Cap&iacute;tulo 54<img id="perg54" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal55" onClick="showCap(55); pergamino(55);">Cap&iacute;tulo 55<img id="perg55" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal56" onClick="showCap(56); pergamino(56);">Cap&iacute;tulo 56<img id="perg56" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal57" onClick="showCap(57); pergamino(57);">Cap&iacute;tulo 57<img id="perg57" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal58" onClick="showCap(58); pergamino(58);">Cap&iacute;tulo 58<img id="perg58" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal59" onClick="showCap(59); pergamino(59);">Cap&iacute;tulo 59<img id="perg59" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal60" onClick="showCap(60); pergamino(60);">Cap&iacute;tulo 60<img id="perg60" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
		</div>
    
        <div class="panel-collapse collapse" id="collapse4">
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal61" onClick="showCap(61); pergamino(61);">Cap&iacute;tulo 61<img id="perg61" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal62" onClick="showCap(62); pergamino(62);">Cap&iacute;tulo 62<img id="perg62" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal63" onClick="showCap(63); pergamino(63);">Cap&iacute;tulo 63<img id="perg63" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal64" onClick="showCap(64); pergamino(64);">Cap&iacute;tulo 64<img id="perg64" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal65" onClick="showCap(65); pergamino(65);">Cap&iacute;tulo 65<img id="perg65" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal66" onClick="showCap(66); pergamino(66);">Cap&iacute;tulo 66<img id="perg66" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal67" onClick="showCap(67); pergamino(67);">Cap&iacute;tulo 67<img id="perg67" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal68" onClick="showCap(68); pergamino(68);">Cap&iacute;tulo 68<img id="perg68" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal69" onClick="showCap(69); pergamino(69);">Cap&iacute;tulo 69<img id="perg69" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal70" onClick="showCap(70); pergamino(70);">Cap&iacute;tulo 70<img id="perg70" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal71" onClick="showCap(71); pergamino(71);">Cap&iacute;tulo 71<img id="perg71" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal72" onClick="showCap(72); pergamino(72);">Cap&iacute;tulo 72<img id="perg72" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal73" onClick="showCap(73); pergamino(73);">Cap&iacute;tulo 73<img id="perg73" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal74" onClick="showCap(74); pergamino(74);">Cap&iacute;tulo 74<img id="perg74" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal75" onClick="showCap(75); pergamino(75);">Cap&iacute;tulo 75<img id="perg75" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal76" onClick="showCap(76); pergamino(76);">Cap&iacute;tulo 76<img id="perg76" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal77" onClick="showCap(77); pergamino(77);">Cap&iacute;tulo 77<img id="perg77" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal78" onClick="showCap(78); pergamino(78);">Cap&iacute;tulo 78<img id="perg78" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal79" onClick="showCap(79); pergamino(79);">Cap&iacute;tulo 79<img id="perg79" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal80" onClick="showCap(80); pergamino(80);">Cap&iacute;tulo 80<img id="perg80" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
		</div>

		<div class="panel-collapse collapse" id="collapse5">
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal81" onClick="showCap(81); pergamino(81);">Cap&iacute;tulo 81<img id="perg81" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal82" onClick="showCap(82); pergamino(82);">Cap&iacute;tulo 82<img id="perg82" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal83" onClick="showCap(83); pergamino(83);">Cap&iacute;tulo 83<img id="perg83" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal84" onClick="showCap(84); pergamino(84);">Cap&iacute;tulo 84<img id="perg84" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal85" onClick="showCap(85); pergamino(85);">Cap&iacute;tulo 85<img id="perg85" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal86" onClick="showCap(86); pergamino(86);">Cap&iacute;tulo 86<img id="perg86" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal87" onClick="showCap(87); pergamino(87);">Cap&iacute;tulo 87<img id="perg87" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal88" onClick="showCap(88); pergamino(88);">Cap&iacute;tulo 88<img id="perg88" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal89" onClick="showCap(89); pergamino(89);">Cap&iacute;tulo 89<img id="perg89" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal90" onClick="showCap(90); pergamino(90);">Cap&iacute;tulo 90<img id="perg90" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal91" onClick="showCap(91); pergamino(91);">Cap&iacute;tulo 91<img id="perg91" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal92" onClick="showCap(92); pergamino(92);">Cap&iacute;tulo 92<img id="perg92" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal93" onClick="showCap(93); pergamino(93);">Cap&iacute;tulo 93<img id="perg93" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal94" onClick="showCap(94); pergamino(94);">Cap&iacute;tulo 94<img id="perg94" src="images/pergaminosinquemar.gif" alt="pergamino" /></a> 
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal95" onClick="showCap(95); pergamino(95);">Cap&iacute;tulo 95<img id="perg95" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal96" onClick="showCap(96); pergamino(96);">Cap&iacute;tulo 96<img id="perg96" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal97" onClick="showCap(97); pergamino(97);">Cap&iacute;tulo 97<img id="perg97" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal98" onClick="showCap(98); pergamino(98);">Cap&iacute;tulo 98<img id="perg98" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal99" onClick="showCap(99); pergamino(99);">Cap&iacute;tulo 99<img id="perg99" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
			<a class="list-group-item list-group-item-action list-group-item-dark text-danger mod" data-toggle="modal" data-target="#mod1" id="modal100" onClick="showCap(100); pergamino(100);">Cap&iacute;tulo 100<img id="perg100" src="images/pergaminosinquemar.gif" alt="pergamino" /></a>
		</div>
</div>

	</div>
                
	<br/>
</div>

<div class="modal fade bd-example-modal-lg" id="mod1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" id="cap1">
    <div class="modal-content" id="contenido">
      <div class="modal-header" id="caeza">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      	<div class="modal-body" id="capis">
      	</div>
		<div class="modal-footer" id="pata">
      	</div>
    </div>
  </div>
</div>
</div>-->
    
<!--Sección Galería

<div id="galeria" style="display: none">

<div class="container fotos">
	<div class="row">
		<div class="col-sm-6 text-center">
			<img class="rounded-circle fotoBla" id="blaze" src="images/webp/nombreBlaze.webp" alt="blaze" data-toggle="modal" data-target="#modBlaze" />		
		</div>
		<div class="col-sm-6 text-center">
			<img class="rounded-circle fotoEch" id="echleon" src="images/webp/nombreEchleon.webp" alt="echleon" data-toggle="modal" data-target="#modEch"/>
		</div>
	</div>
</div>

<div class="container fotos">
	<div class="row">
		<div class="col-sm-6 text-center">
			<img class="rounded-circle fotoAlb" id="albert" src="images/webp/nombreAlbert.webp" alt="albert" data-toggle="modal" data-target="#modAlb"/>
		</div>
		<div class="col-sm-6 text-center">
			<img class="rounded-circle fotoHen" id="hene" src="images/webp/nombreHana.webp" alt="hana" data-toggle="modal" data-target="#modHen"/>
		</div>
	</div>
</div>
	
<div class="modal fade bd-example-modal-lg" id="modBlaze" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modfotos">
        <h3 class="modal-title" id="blaicita">Blaze</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body text-center modfotos"> 
		  <div class="carousel slide" data-ride="carousel" id="carrusel">
			  <div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="images/webp/blaze1.webp" alt="1eraFotito" />			  
				  </div>
				  <div class="carousel-item">
					<img src="images/webp/blaze2.webp" alt="2daFotito" />			  
				  </div>
				  <div class="carousel-item">
					<img src="images/webp/blazeCarr.webp" alt="3raFotito" />			  
				  </div>
                  <div class="carousel-item">
					<img src="images/webp/portadaBlaze.webp" alt="4taFotito" />			  
				  </div>
                  <div class="carousel-item">
					<img src="images/webp/portadaBlaze2.webp" alt="5taFotito" />			  
				  </div>
			  </div>
			  <a class="carousel-control-prev" href="#carrusel" role="button" data-slide="prev">
			  	<span class="carousel-control-prev-icon carru" aria-hidden="true"></span>
			  	<span class="sr-only">Anterior</span>
			  </a>
			  <a class="carousel-control-next carru" href="#carrusel" role="button" data-slide="next">
			  	<span class="carousel-control-next-icon" aria-hidden="true"></span>
			  	<span class="sr-only">Siguiente</span>
			  </a>
		  </div>
      </div>
    </div>
  </div>
</div>
	
<div class="modal fade bd-example-modal-lg" id="modEch" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modfotos">
        <h3 class="modal-title" id="ekleon">Echleón</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body text-center modfotos"> 
		  <div class="carousel slide" data-ride="carousel" id="carrusel1">
			  <div class="carousel-inner">
				  <div class="carousel-item active">
					<img alt="1eraFotito" />			  
				  </div>
				  <div class="carousel-item">
					<img alt="2daFotito"/>			  
				  </div>
			  </div>
			  <a class="carousel-control-prev" href="#carrusel1" role="button" data-slide="prev">
			  	<span class="carousel-control-prev-icon carru" aria-hidden="true"></span>
			  	<span class="sr-only">Anterior</span>
			  </a>
			  <a class="carousel-control-next carru" href="#carrusel1" role="button" data-slide="next">
			  	<span class="carousel-control-next-icon" aria-hidden="true"></span>
			  	<span class="sr-only">Siguiente</span>
			  </a>
		  </div>
      </div>
    </div>
  </div>
</div>
	
<div class="modal fade bd-example-modal-lg" id="modAlb" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modfotos">
        <h3 class="modal-title" id="albercito">Albert</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body text-center modfotos"> 
		  <div class="carousel slide" data-ride="carousel" id="carrusel2">
			  <div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="images/webp/albert1.webp" alt="1eraFotito" />			  
				  </div>
				  <div class="carousel-item">
					<img alt="2daFotito" />			  
				  </div>
			  </div>
			  <a class="carousel-control-prev" href="#carrusel2" role="button" data-slide="prev">
			  	<span class="carousel-control-prev-icon carru" aria-hidden="true"></span>
			  	<span class="sr-only">Anterior</span>
			  </a>
			  <a class="carousel-control-next carru" href="#carrusel2" role="button" data-slide="next">
			  	<span class="carousel-control-next-icon" aria-hidden="true"></span>
			  	<span class="sr-only">Siguiente</span>
			  </a>
		  </div>
      </div>
    </div>
  </div>
</div>
	
<div class="modal fade bd-example-modal-lg" id="modHen" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modfotos">
        <h3 class="modal-title" id="jana">Hänä</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body text-center modfotos"> 
		  <div class="carousel slide" data-ride="carousel" id="carrusel3">
			  <div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="images/webp/heneCarr.webp" alt="1eraFotito" />			  
				  </div>
				  <div class="carousel-item">
					<img alt="2daFotito" width="288" height="325" />			  
				  </div>
			  </div>
			  <a class="carousel-control-prev" href="#carrusel3" role="button" data-slide="prev">
			  	<span class="carousel-control-prev-icon carru" aria-hidden="true"></span>
			  	<span class="sr-only">Anterior</span>
			  </a>
			  <a class="carousel-control-next carru" href="#carrusel3" role="button" data-slide="next">
			  	<span class="carousel-control-next-icon" aria-hidden="true"></span>
			  	<span class="sr-only">Siguiente</span>
			  </a>
		  </div>
      </div>
    </div>
  </div>
</div>
</div>
    
<div class="container col-12" style="height: 1px" ></div>-->
    
<!--Sección Autor
    
<div id="autor" style="display: none">
    <br/>
    <br/>
    <div class="fondo container text-center col-3">
        <p style="color: white">No sé que decir... Si quieren conocer más de mí, abajo hay links para más de mis trabajos, he escrito ciencia ficción y también fantasía, aunque no descarto ningún otro tipo de temática, alguna idea se me puede ocurrir mientras sigo viviendo. ;) </p>
    </div>
    <br/>
    <div class="text-center">
		
		<div class="container text-center link col-3">
			<a class="btn btn-danger list-group-item text-light pags" href="https://clubdeescritura.com/perfil/51470/wyneg-s-rhuntar/">Club de Escritura Fuentetaja</a>	
		</div>
		<div class="container text-center links col-3">
			<a class="btn btn-warning list-group-item text-light pags" href="https://www.wattpad.com/story/101823325-blaze">Wattpad</a>	
		</div>
		<div class="container text-center links col-3">
			<a class="btn btn-info list-group-item text-light pags" href="http://megustaescribir.com/obra/37370/blaze">MeGustaEscribir</a>	
		</div>
	</div>
</div>-->
	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>       
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="js/hechizos.js?v=1.0"></script>
<script src="js/chapters2.js?v=1.0"></script>
<script src="js/fotos.js?v=1.0"></script>
</body>
    
</html>
