<!doctype html>
<html>
<head>    
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/inicio.css?v=2.0"/>
<link rel="icon" href="images/penta.png"/>
<link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
</head>

<body class="img" data-spy="scroll" data-target=".navbar" data-offset="10">
    
<header>
  <div class="text-center" id="heder" style="display: block">
  	<img src="images/webp/logoblaze3.webp" class="img-fluid" width="25%" height="25%" alt="logo"/>
  </div>
</header>

<%- include ('partials/navigation.html')%>
    
<!--Sección Inicio-->

<div class="container inicio" id="inicio">
	<div>
		<img class="img-thumbnail rounded mx-auto d-block blaze" src="images/webp/redmoon.webp" alt="Blaze!" />
	</div>
		<br/>
		<br/>	
		<br/>
		<div class="index">
		
		<div class="texto">
			<div class="fondo">
			<p>Esta es la historia de Blaze, la más grande guerrera que podrás encontrar...</p>
			<p>Entrenada en artes esotéricas y militares por sus maestros Echleón y Bel, respectivamente, Blaze recorre las tierras medievales en la búsqueda de aventuras y peligros a los que enfrentarse, en parte para pasar el tiempo y también para perfeccionarse.</p>
			<p>No hay mal que se le resista, tampoco bien que le aguante, la verdad es que es mejor no cruzarse en su camino, sobre todo si está enojada.</p>
			<br/>
			<p>Sigue aquí sus peripecias, aprende un poco de sus habilidades y conoce a los demás personajes que le harán la vida imposible.</p>
			</div>
		</div>
		
	</div>
</div>
<script src="js/navbar.js?v=2.0"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
