/* Fondo */
.img {background-image: url(../images/webp/lads.webp), url(../images/webp/lads.webp), url(../images/webp/fondo1.webp); background-repeat: repeat-y, repeat-y, repeat; background-position: left, right, center; min-height: 100%; }
#barra {background-color: black; border-top: solid #FFFFFF 1px; border-bottom: solid #FFFFFF 1px;}

/* Caps */
#negrito1 {opacity: 0;}
.torch {background-color: black; padding-top: 100px; padding-left: 0px; padding-right: 0px; margin-left: auto; margin-right: auto;}
.caca {pointer-events: none; min-height: 100%;}
#capis.modal-body p {font-size: 1.4em; color: black; width: 40%; margin-left: 10%} 
.cajita {border: 20px solid transparent; border-image-source: url(../images/webp/penta4.webp); border-image-slice: 19 19; border-image-repeat: round; padding: 15px; font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif; float: inherit;}
#antorchasgif {padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px; width: 100vw;}
#izqOff {float: left;}
#derOff {float: right;}
#caeza.modal-header {background-image: url(../images/webp/pergamino1.webp); background-repeat: no-repeat; border: 0 none; display: list-item; padding: 25px; margin: 0;}
#capis.modal-body {background-image: url(../images/webp/pergamino2.webp); background-repeat: repeat-y; border: 0 none; display: list-item; padding: 0; margin: 0;}
#pata.modal-footer {background-image: url(../images/webp/pergamino3.webp); background-repeat: no-repeat; border: 0 none; display: list-item; padding: 30px; margin: 0;}
#contenido.modal-content{background-color: transparent !important; width: 100vw;}
.modal-header .close {position: fixed; top: 20px; right: 250px; width: 40px; height: 40px; opacity: 1; z-index: 10; color: white;}

@media screen and (max-device-width: 480px) {
	#caeza.modal-header {background-size: 99% 100%; padding-left: 0%; padding-right: 0%;}
	#capis.modal-body {background-size: 99% 100%; padding-left: 0%; padding-right: 0%;}
	#pata.modal-footer {background-size: 99% 100%; padding-left: 0%; padding-right: 0%;}
	#contenido.modal-content {min-width: 100%; margin-left: 0%; margin-right: -10%;}	
	#mod1.modal {min-width: 100%; margin-left: 0%; margin-right: -10%;}
	#cap1.modal-dialog {margin-left: 0%; margin-right: -7%; padding-left: 0%; padding-right: 0%;}
	#capis.modal-body p {width: 75%; margin-left: 15%; font-size: 2.5em; color: black;}
	.torch {background-color: black; padding-top: 100px; padding-left: 0px; padding-right: 0px; margin-left: auto; margin-right: auto; height: 100vh;}
	.modal-header .close {position: fixed; top: 20px; right: 100px; width: 40px; height: 40px; opacity: 1; z-index: 10; color: white;}
}