/* CSS Document */
/* Fondo */
.img {background-image: url(../images/webp/lads.webp), url(../images/webp/lads.webp), url(../images/webp/fondo1.webp); background-repeat: repeat-y, repeat-y, repeat; background-position: left, right, center; min-height: 100%; }
#heder, #barra {background-color: black; border-top: solid #FFFFFF 1px; border-bottom: solid #FFFFFF 1px;}

/* Inicio */
.index {border: 20px solid transparent; border-image-source: url(../images/lis.png); border-image-slice: 25 25; border-image-repeat: space; font-family: 'MedievalSharp', cursive; font-size: 1.5em; font-weight: bolder; color: rgb(53, 51, 155); text-shadow: -1px 0 rgb(255, 208, 0), 0 1px rgb(255, 208, 0), 1px 0 rgb(255, 208, 0), 0 -1px rgb(255, 208, 0); padding: 20px; width: 650px; height: 670px; margin: auto;}
.fondo {background-color: rgba(255,255,255,0.30);}
.inicio{padding-top: 100px;}
.blaze {width: 30%; height: 30%; border: 5px solid #FFD700;}


@media screen and (max-device-width: 480px) {
    .blaze {width: 50%; height: 50%; border: 5px solid #FFD700;}
}