/* CSS Document */
/* Fondo */
.img {background-image: url(../images/webp/lads.webp), url(../images/webp/lads.webp), url(../images/webp/fondo1.webp); background-repeat: repeat-y, repeat-y, repeat; background-position: left, right, center; min-height: 100%; }
#heder, #barra {background-color: black; border-top: solid #FFFFFF 1px; border-bottom: solid #FFFFFF 1px;}

/* Inicio */
.index {border: 20px solid transparent; border-image-source: url(../images/lis.png); border-image-slice: 25 25; border-image-repeat: space; font-family: 'MedievalSharp', cursive; font-size: 1.5em; font-weight: bolder; color: rgb(40, 40, 197); text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0); padding: 20px; width: 650px; height: 670px; margin: auto;}
.fondo {background-color: rgb(255,255,255,0.30);}
.inicio{padding-top: 100px;}
.blaze {width: 30%; height: 30%; border: 5px solid #FFD700;}
#caeza.modal-header {background-image: url(../images/webp/pergamino1.webp); background-repeat: no-repeat; border: 0 none; display: list-item; padding: 24px; margin: 0;}
#capis.modal-body {background-image: url(../images/webp/pergamino2.webp); background-repeat: repeat-y; border: 0 none; display: list-item; padding: 7px; margin: 0; }
#pata.modal-footer {background-image: url(../images/webp/pergamino3.webp); background-repeat: no-repeat; border: 0 none; display: list-item; padding: 30px; margin: 0; }
#contenido.modal-content{background-color: transparent !important; width: 100vw;}
.modal-header .close {position: fixed; top: 20px; right: 250px; width: 40px; height: 40px; opacity: 1; z-index: 10; color: white;}
#capBlaze {font-size: 1.3rem; font-weight: bold;}
#textoCaeza {margin-top: 2rem; margin-bottom: -2rem;}
#textoPata {margin-top: -2rem;}
#textoCaeza, #textoCapis, #textoPata {font-size: 1.5em; font-family: 'MedievalSharp', cursive; color: rgb(0, 0, 0); text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);}

@media screen and (max-device-width: 480px) {
    .blaze {width: 60%; height: 60%; border: 5px solid #FFD700;}
    .index {font-size: 1.8em; width: auto; height: auto;}
    #capBlaze {font-size: 1.3rem; font-weight: bold;}
    #textoCaeza, #textoCapis, #textoPata {font-size: 1.7rem; font-family: 'MedievalSharp', cursive; color: rgb(0, 0, 0); text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);}
    #caeza.modal-header, #capis.modal-body, #pata.modal-footer {margin-left: -140px; }
    #caeza.modal-header {padding: 21px;}
    #capis.modal-body {padding: 21px;}
    .modal-header .close {position: fixed; top: 20px; right: 100px; width: 40px; height: 40px; opacity: 1; z-index: 10; color: white;}
}