<nav class="navbar navbar-dark sticky-top" id="barra">
    <div class="container-fluid" >
       <ul class="nav nav-fill">
              <li class="nav-item"><a class="nav-link text-light dirweb" id="inicio1" href="/"><img src="images/espacio.png" alt="llama" id="fuego1" style="display: inline-block" /><img src="images/webp/inicio.webp" alt="inicio" title="Index" /></a></li>
              <li class="nav-item"><a class="nav-link text-light dirweb" id="capitulos1" onclick="capsLeidos()" href="/capitulos"><img src="images/espacio.png" alt="llama" id="fuego2" style="display: inline-block"/><img src="images/webp/caps.webp" alt="caps" title="Chapters" /></a></li>
              <li class="nav-item"><a class="nav-link text-light dirweb" id="galeria1" href="/galeria"><img src="images/espacio.png" alt="llama" id="fuego3"  style="display: inline-block"/><img src="images/webp/galeria.webp" alt="gallery" title="Gallery" /></a></li>
              <li class="nav-item"><a class="nav-link text-light dirweb" id="autor1" href="/autor"><img src="images/espacio.png" alt="llama" id="fuego4" style="display: inline-block"/><img src="images/webp/sobreautor.webp" alt="autor" title="Autor" /></a></li>
          </ul>
    </div>	
  </nav>